:root{
    --color-primario:#FF7A00;
    --color-base:#0F0F0F;
    --color-secundario:#1A1A1A;
    --textos-blancos:#F5F5F5;
    --acento:#8A8A8A;
    --acento-secundario:#CC6300;
    --bg:#F7F7F5;
    --cards:#EFEFEA;
}
