header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.logo-nav {
    max-width: 3rem;
}

.logo-nav img {
    width: 400%;
    height: auto;
    display: block;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: var(--color-base);
}

/* Menu Hamburguesa */

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen and (max-width:715px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        
        display: flex;
        flex-direction: column;
        align-items: end;
        position: absolute;
        gap: 1rem;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: var(--color-secundario);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgb(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        text-decoration: none;
        color: var(--textos-blancos);
    }

    .logo-nav {
        max-width: 2.2rem;
    }
}